.body{
  margin: 0;
  background-color: #453C41;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  line-height: normal;

}
.header{
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  align-items: center;

}

.img{
  display: block;
  height: 74px;
  width: 50px;
  margin-left: 40px;
}

.nav{
  list-style: none;
  text-decoration: none;
  color: #453C41;
  display: inline-block;
}

.nav__list{
  align-items: center;
  display: flex;
  height: 60px;
  margin-right: 50px;
}

.header__botton{

}